.row_one{
    height: 500px;
    width: 100%;
    margin: 0;
}

.bkg{
    background-image: url(../images/sanitary-products-top-view.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text_overlay{
    width: auto;
    height: 500px;
    text-align: center;
}

.text_overlay h2{
    padding: 200px 0px 0px 0px;
}