.row_one{
    height: 500px;
    width: 100%;
    margin: 0;
}

.bkg{
    background-image: url(../images/sanitary-products-top-view.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text_overlay{
    width: auto;
    height: 500px;
    text-align: center;
    color: white;
    text-shadow: dodgerblue;
    padding: 200px 0px 0px 0px;
}

.text_overlay h2{
    font-size: 70px;
    text-shadow: 0 0 3px dodgerblue;
    margin: 0;
}

.text_overlay p{
    font-size: 35px;
    text-shadow: 0 0 3px dodgerblue;
}

hr{
    width: 80%;
    height: 5px;
    background-color: dodgerblue;
    border-radius: 5px;
    border: none;
}

.confucius{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* gap: 10px; */
    width: 70%;
    margin: auto;
    height: 60px;
    color: white;
}

.confucius_service{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* gap: 10px; */
    width: 70%;
    margin: auto;
    margin-top: 20px;
    height: 60px;
    color: black;   
}

.service-grid{
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 70%;
    margin: auto;
    margin-top: 40px;
}

.cleaning_img{
    background-image: url(../images/full-shot-man-cleaning-doorknob.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.service-grid-row{
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    width: 70%;
    margin: 0;
    margin-left: 20%;
}

.metro{
    display: grid;
    grid-template-rows: auto auto;
    height: 300px;
}